{
  "schedule": "0 */5 * * * *",
  "solverUrl": "https://<project-ref>.supabase.co/functions/v1/solver",
  "owner": "0xYourWalletAddress",
  "supabaseUrl": "https://<project-ref>.supabase.co",
  "supabaseKey": "{{.supabase_service_role_key}}",
  "auctionContractAddress": "0x7af736e44d5ad26799320926d929c911ca5cf59d",
  "chainSelectorName": "ethereum-testnet-sepolia",
  "gasLimit": "500000"
}
