{
  "schedule": "0 */5 * * * *",
  "solverUrl": "https://<project-ref>.supabase.co/functions/v1/solver",
  "owner": "0xYourWalletAddress",
  "supabaseUrl": "https://<project-ref>.supabase.co",
  "supabaseKey": "{{.supabase_service_role_key}}",
  "auctionContractAddress": "0x8e54ff13b62345ac88a9926bdd3407d25e356cdf",
  "chainSelectorName": "ethereum-testnet-sepolia",
  "gasLimit": "500000"
}
