{
  "schedule": "0 */5 * * * *",
  "solverUrl": "https://<project-ref>.supabase.co/functions/v1/solver",
  "owner": "0xYourWalletAddress",
  "supabaseUrl": "https://<project-ref>.supabase.co",
  "supabaseKey": "{{.supabase_service_role_key}}",
  "auctionContractAddress": "0x869378998448bbdfa23e1d0fd564aefa68e4090a",
  "chainSelectorName": "ethereum-testnet-sepolia",
  "gasLimit": "500000"
}
