{
  "url": "https://npcwptlazfyhwepiuctf.supabase.co/functions/v1/auction-event-handler",
  "evms": [
    {
      "auctionAddress": "0xad8ce52b7225c8a5974fd8c316933eb5a19ffe6c",
      "chainSelectorName": "ethereum-testnet-sepolia",
      "gasLimit": "300000"
    }
  ]
}
