{
  "url": "https://npcwptlazfyhwepiuctf.supabase.co/functions/v1/auction-event-handler",
  "evms": [
    {
      "auctionAddress": "0x966175704ee93727086f16ccb0f626b6cf715f31",
      "chainSelectorName": "ethereum-testnet-sepolia",
      "gasLimit": "300000"
    }
  ]
}
