{
  "schedule": "*/30 * * * * *",
  "url": "https://npcwptlazfyhwepiuctf.supabase.co/functions/v1/asset-handler",
  "evms": [
    {
      "assetAddress": "0x34da8694db352e7f1ea16df19d0971351709fb8b",
      "chainSelectorName": "ethereum-testnet-sepolia",
      "gasLimit": "1000000"
    }
  ]
}
